.about {
  display: flex;
  align-items: center;

  @media (max-width: $pc) {
    padding-top: em(45, $fz);
    padding-bottom: em(45, $fz);
  }
  @media (max-width: $phone) {
    padding-top: em(25, $fz);
    padding-bottom: em(25, $fz);
  }

  &__wrapper {
    justify-content: center;

    @media (max-width: $pc) {
      flex-direction: column;
    }
  }

  &__info {
    width: 100%;
    max-width: em(557, $fz);

    @media (max-width: $ws) {
      max-width: em(420, $fz);
    }
    @media (max-width: $pc) {
      order: 1;
      max-width: 100%;
      margin-top: em(40, $fz);
    }
  }

  &__photo {
    width: 100%;
    max-width: em(513, $fz);
    margin-left: em(70, $fz);

    @media (max-width: $ws) {
      max-width: em(465, $fz);
      margin-right: em(15, $fz);
    }
    @media (max-width: $pc) {
      max-width: em(360, $fz);
      margin-right: em(85, $fz);
    }
    @media (max-width: $phone) {
      max-width: em(240, $fz);
    }
  }
}

.about-info {
  @media (max-width: $pc) {
    text-align: center;
  }

  &__title {
    @extend %main__title;
  }

  &__par {
    width: 100%;
    margin-top: em(80, $fz);

    @media (max-width: $pc) {
      margin-top: em(40, $fz);
    }
    @media (max-width: $phone) {
      margin-top: em(20, $fz);
    }
  }
}

.about-info-title {
  @extend %main-title;

  &__text {
    @extend %main-title__text;
  }
}

.about-info-par {
  &__text {
    $fz: 18;
    color: $secondary;

    font-size: em($fz, $fz_base);
    line-height: 2;

    @media (max-width: $pc) {
      $fz: 14;

      font-size: em($fz, $fz_base);
    }
    @media (max-width: $phone) {
      $fz: 12;

      font-size: em($fz, $fz_base);
    }
  }
}

.about-photo {
  border-radius: em(5, $fz);
  box-shadow: em(20 20 0 0, $fz) $theme;

  &__img {
    border-radius: em(5, $fz);
  }
}
