.contacts {
  align-self: baseline;

  &__info {
    margin-top: em(15, $fz);

    @media(max-width: $pc) {
      margin-top: 0;
    }
  }

  &__socials {
    margin-top: em(15, $fz);

    @media(max-width: $pc) {
      justify-content: center;
    }
  }
}

.contacts-title {
  color: $primary;
  text-transform: uppercase;

  @media(max-width: $pc) {
    text-align: center;
  }

  &__text {
    font-weight: 600;

    @media(max-width: $pc) {
      $fz: 14;
      font-size: em($fz, $fz_base);
    }
  }
}

.contacts-info {
  color: $primary;

  @media(max-width: $pc) {
    text-align: center;
  }

  &__text {
    $fz: 14;
    font-size: em($fz, $fz_base);

    @media(max-width: $pc) {
      $fz: 12;
      font-size: em($fz, $fz_base);
    }
  }
}
