include components/FirstScreen/FirstScreen
include components/About/About
include components/Team/Team
include components/Projects/Projects
include components/Contacts/Contacts

mixin getMain(parent='page')
  main.main(class=`${(parent) ? parent + '__main' : ''}`)
    +getFirstScreen
    +getAbout
    +getTeam
    +getProjects
    +getContacts
