.subscribe {
  align-self: baseline;

  &__form {
    margin-top: em(20, $fz);

    @media(max-width: $pc) {
      margin-top: em(10, $fz);
    }
  }
}

.subscribe-title {
  text-transform: uppercase;
  color: $primary;

  @media(max-width: $pc) {
    text-align: center;
  }

  &__text {
    font-weight: 600;

    @media(max-width: $pc) {
      $fz: 14;
      font-size: em($fz, $fz_base);
    }
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;

  &__area {
    padding: em(11.5 15, $fz);
    width: 100%;
    border-radius: em(3, $fz);

    @media(max-width: $pc) {
      padding: em(5, $fz);
    }

    &::placeholder {
      $fz: 14;
      font-family: 'Montserrat', 'Arial', sans-serif;
      font-size: em($fz, $fz_base);
      color: $secondary;
    }
  }

  &__submit {
    width: 100%;
    margin-top: em(15, $fz);
  }
}

.subscribe-form-submit {
  padding: em(11.5 15, $fz);
  border-radius: em(3, $fz);
  background-color: $theme;
  transition: opacity 0.3s ease-in-out;

  @media(max-width: $pc) {
    padding: em(5, $fz);
  }

  &:hover {
    opacity: 0.8;
  }

  &__text {
    $fz: 18;
    font-size: em($fz, $fz_base);
    font-weight: 700;
    color: $secondary;

    @media(max-width: $pc) {
      $fz: 14;
      font-size: em($fz, $fz_base);
    }
  }
}
