.page {
  max-width: em(1920, $fz);
  background-color: $primary;
  box-shadow: em(1 1 40 1, $fz) transparentize(darken($primary, 100%), 0.3);

  @media(max-width: $phone) {
    font-size: vw(16, 479);
  }

  &__header {
    min-height: em(90, $fz);

    @media (max-width: $phone) {
      min-height: em(60, $fz);
    }
  }

  &__footer {}
}
