.page {
  @media(max-width: $phone) {
    font-size: vw(16, 479);
  }

  &__header {
    min-height: em(90, $fz);

    @media (max-width: $phone) {
      min-height: em(60, $fz);
    }
  }

  &__footer {}
}
